
[*]

# ReSharper properties
resharper_allow_comment_after_lbrace = true
resharper_int_align_bitfield_sizes = true
resharper_int_align_comments = true
resharper_int_align_declaration_names = true
resharper_int_align_enum_initializers = true
resharper_int_align_eq = true
resharper_keep_blank_lines_in_code = 1
resharper_keep_blank_lines_in_declarations = 1
resharper_linkage_specification_braces = next_line
resharper_linkage_specification_indentation = all
resharper_space_after_cast = true
resharper_space_before_comma_in_initializer_braces = true
resharper_space_before_comma_in_method_call = true
resharper_space_before_ellipsis_in_parameter_pack = true
resharper_space_before_initializer_braces = true
resharper_space_before_semicolon_in_for_statement = true
resharper_space_between_method_call_empty_parameter_list_parentheses = true
resharper_space_between_method_call_name_and_opening_parenthesis = true
resharper_space_between_method_call_parameter_list_parentheses = true
resharper_space_between_method_declaration_empty_parameter_list_parentheses = true
resharper_space_between_method_declaration_parameter_list_parentheses = true
resharper_space_between_parentheses_of_control_flow_statements = true
resharper_space_between_square_brackets = true
resharper_space_between_typecast_parentheses = true
resharper_space_within_declaration_parentheses = true
resharper_space_within_empty_blocks = true
resharper_space_within_empty_initializer_braces = true
resharper_space_within_empty_template_params = true
resharper_space_within_initializer_braces = true
resharper_space_within_parentheses = true
resharper_space_within_template_args = true
resharper_space_within_template_params = true
resharper_use_continuous_line_indent_in_method_pars = true
resharper_wrap_before_colon = true
